OPEN_BMP                BITMAP                  "resources\\bmpOpen.bmp"
SAVE_BMP                BITMAP                  "resources\\bmpSave.bmp"
ORTHODOX_BMP            BITMAP                  "resources\\bmpOrthodox.bmp"
EDGE_BMP                BITMAP                  "resources\\bmpEdge.bmp"
LIC_BMP                 BITMAP                  "resources\\bmpLIC.bmp"
CHART_BMP               BITMAP                  "resources\\bmpChart.bmp"
FRAME_BMP               BITMAP                  "resources\\bmpFrame.bmp"
SINGULARITY_BMP         BITMAP                  "resources\\bmpSingularity.bmp"
ELEC_SUM_BMP            BITMAP                  "resources\\bmpElectricFieldSum.bmp"
ELEC_DIF_BMP            BITMAP                  "resources\\bmpElectricFieldDif.bmp"
TRACK_BMP               BITMAP                  "resources\\bmpTrack.bmp"
SELECT_PNT_BMP          BITMAP                  "resources\\bmpSelectPoint.bmp"
SELECT_TRACK_BMP        BITMAP                  "resources\\bmpSelectTrack.bmp"
SELECT_CREVASSE_BMP     BITMAP                  "resources\\bmpSelectCrevasse.bmp"
SELECT_FACET_BMP        BITMAP                  "resources\\bmpSelectFacet.bmp"
SELECT_EDGE_BMP         BITMAP                  "resources\\bmpSelectEdge.bmp"
GAUSS_CURVATURE_BMP     BITMAP                  "resources\\bmpGaussCurvature.bmp"
CONF_COEF_BMP           BITMAP                  "resources\\bmpConformalCoefficient.bmp"
ANGLE_ERR_BMP           BITMAP                  "resources\\bmpAngleError.bmp"
PARA_CURL_BMP           BITMAP                 "resources\\bmpParaCurl.bmp"
DENSITY_U_BMP           BITMAP                  "resources\\bmpDensityU.bmp"
DENSITY_V_BMP           BITMAP                  "resources\\bmpDensityV.bmp"
LOCAL_U_BMP             BITMAP                  "resources\\bmpLocalU.bmp"
LOCAL_V_BMP             BITMAP                  "resources\\bmpLocalV.bmp"
GLOBAL_U_BMP            BITMAP                  "resources\\bmpGlobalU.bmp"
GLOBAL_V_BMP            BITMAP                  "resources\\bmpGlobalV.bmp"
NEW_POINTS_BMP          BITMAP                  "resources\\bmpNewPoints.bmp"
NEW_LINKAGES_BMP        BITMAP                  "resources\\bmpNewLinkages.bmp"
NEW_NORMAL_BMP          BITMAP                  "resources\\bmpNewNormal.bmp"
NEW_MESH_BMP            BITMAP                  "resources\\bmpNewMesh.bmp"
SHADER_BMP              BITMAP                  "resources\\bmpShader.bmp"
SMALL_SPHERE_BMP        BITMAP                  "resources\\bmpSmallSphere.bmp"


